@page
@model TeamsModel
@{
    <div class="container">
        <div class="display-4">Add a Team</div>
        <form method="post" class="form-inline">
            <input class="form-control mr-2" asp-for="Team" />
            <button class="btn btn-info" type="submit">Add Team</button>
        </form>
    </div>
}
