@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div><a asp-page="/Scorecard/Index">Add Scorecard</a></div>
    <div><a asp-page="/Teams/Index">Add Team</a></div>
</div>